@font-face {
    font-family:Josefin;
    src: url(../font/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family:Wondar;
    src: url(../font/Wondar\ Quason\ Free.ttf);
}
*{
    font-family:Josefin;
}
.navbar-nav {
    margin:0 auto;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.square{
    display: none;
    height: 80px;
    width: 80px;

}
.square img {
    width: 100%;
    height: auto;
  }

  .hoverActive .nav-link:hover{
    color: rgb(32, 109, 11);
    font-weight:bolder;
  }
/* @media screen and (min-width:1595px){ 

      .navbar .tblock{
        
        height:100%;
        width: 220px;
        position: absolute;
        top:0;
        right: 0;
        
        background-color: #ffffff;
        display: block;
        margin-top: 170px;
        margin-left: 200px; 
        
        
    }
    .square{
        display: block;
        margin-left: 25px;
    }
    .navbar .tblock .navbar-nav> li{
        display: block;
        text-align:start;
        margin-left: 35px;
      
    }
    .navbar-nav{
        display: inline-block;
      
    }
      .navbar-expand-lg .navbar-collapse{
        display: block!important;
        margin-right: 35px;
    }
    .navbar-brand{
        display:none;
    }
    
} */


    
 


    
.header{
    
    min-height:10vh;
    background-color:#e0b86e;
    text-align: center;
    font-size: 3rem;
    
    
}
    
.image{
    width: 100%;
    height: auto;

}
.btn{
    font-weight: bold;
}

.btn:hover{
    opacity: 0.9;
}
.btn:active{
    transition-duration: 0.35s;
    -moz-transform: scale(1);
      -ms-transform:scale(1);
      -o-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    
  }
  
  .fa:hover {
      opacity: 0.7;
      color: #e0b86e;
  }
  
  .fa-facebook {
   
    color: rgb(0, 0, 0);
  }
  
  .fa-linkedin {
    color: rgb(0, 0, 0);
  }

  .fa-instagram {
    color: rgb(0, 0, 0);
  }
