.navbar-nav {
    margin:0 auto;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.square{
    display: none;
    height: 80px;
    width: 80px;

}
.square img {
    width: 100%;
    height: auto;
  }

  .hoverActive .nav-link:hover{
    color: rgb(32, 109, 11);
    font-weight:bolder;
  }
/* @media screen and (min-width:1595px){ 

      .navbar .tblock{
        
        height:100%;
        width: 220px;
        position: absolute;
        top:0;
        right: 0;
        
        background-color: #ffffff;
        display: block;
        margin-top: 170px;
        margin-left: 200px; 
        
        
    }
    .square{
        display: block;
        margin-left: 25px;
    }
    .navbar .tblock .navbar-nav> li{
        display: block;
        text-align:start;
        margin-left: 35px;
      
    }
    .navbar-nav{
        display: inline-block;
      
    }
      .navbar-expand-lg .navbar-collapse{
        display: block!important;
        margin-right: 35px;
    }
    .navbar-brand{
        display:none;
    }
    
} */


    
 


    
.header{
    
    min-height:10vh;
    background-color:#e0b86e;
    text-align: center;
    font-size: 3rem;
    
    
}
    
.image{
    width: 100%;
    height: auto;

}

.btn{
    
}

